<!DOCTYPE html>
<html>

<head>
  <title>Вход в систему</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body style="background-image: url({{ url_for('static', filename='bg.png') }});"
  class="text-[#080808] bg-center bg-cover">
  <div class="w-screen h-screen justify-center items-center flex">
    <div
      class="h-[45rem] w-[60rem] bg-white rounded-lg border-[1px] border-[#83A2CE] justify-center grid grid-rows-[15%_10%_auto_75%] py-4">
      <div class="flex justify-center">
        <img class="" src="{{ url_for('static', filename='welogo.png' ) }}" alt="">
      </div>
      <div class="flex justify-center text-5xl font-light">
        <h1>Вход в систему</h1>
      </div>
      <div class="grid justify-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <div class="grid items-center">
        <form method="post">
          <div class="grid gap-4 items-center justify-center">
            <div class="grid w-full h-20 bg-[#E6EFF9] rounded-lg px-4 items-center">
              <p>
                {{ form.username(size=70, placeholder="Имя") }}
              </p>
            </div>
            <div class="grid w-full h-20 bg-[#E6EFF9] rounded-lg px-4 items-center">
              <p>
                {{ form.password(size=70, placeholder="Пароль") }}
              </p>
            </div>

            <div class="flex gap-x-4 justify-center items-center mt-20">
              <div
                class="w-1/2 h-10 bg-[#CEDEED] hover:bg-[#b7c9d8] rounded-lg grid items-center justify-center cursor-pointer">
                {{ form.submit(id="submit-btn") }}
              </div>
              <div
                class="w-1/2 h-10 bg-[#CEDEED] hover:bg-[#b7c9d8] rounded-lg grid items-center justify-center cursor-pointer">
                <button><a href="/register">Регистрация</a></button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>

</html>