<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Profile</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="#" class="header__logo">
                        <img src="/img/box.png" alt="logo">
                    </a>
                    <h1 class="header__title">Личный кабинет</h1>
                    <a href="register.html" class="header__arrow">
                        <img src="/img/arrow.png" alt="arrow">
                    </a>
                </div>
            </div>
        </header>
        <main>
            <section class="account">
                <div class="container">
                    <div class="account__inner">
                        <div class="account__file">
                            <p class="account__placeholder">*загрузите фото*</p>
                        </div>
                        <form class="account__form">
                            <label class="account__label">Личные данные:</label>
                            <input type="text" class="account__input" placeholder="Имя">
                            <input type="text" class="account__input" placeholder="Фамилия">
                            <input type="text" class="account__input" placeholder="Отчество">
                            <input type="date" class="account__input">
                            <input type="email" class="account__input" placeholder="e-mail">
                            <input type="tel" class="account__input" placeholder="Номер телефона">
                            <label class="account__label">Пароль:</label>
                            <input type="password" class="account__input" placeholder="********">
                            <a href="settings.html" class="account__link">Сменить пароль</a>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
