<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrapper">
        <main>
            <section class="register">
                <div class="container">
                    <div class="register__inner">
                        <img src="/img/box.png" alt="logo">
                        <h1 class="register__title">Регистрация</h1>
                        {% if error %}
                            <p style="color: red;">{{ error }}</p>
                        {% endif %}
                        <form class="register__form" method="post">
                            <input class="register__input" type="text" name="username" placeholder="Введите логин" required>
                            <input class="register__input" type="password" name="password" placeholder="Введите пароль" required>
                            <input class="register__input" type="text" name="email" placeholder="Введите e-mail" required>
                        <div class="register__button">
                            <button class="register__btn" type="submit">Зарегистрироваться</button>
                            <button><a href="/login">Войти</a> </button>
                        </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>